# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Socket-Confetti_Client/Debug/
Socket-Confetti_Server/Debug/
Socket-Confetti_Client/ConfettiClient/Debug/
Socket-Confetti_Client/Socket-Confetti/Debug/
Socket-Confetti_Server/ConfettiServer/Debug/

Socket-Confetti_Server/Socket-Confetti/Debug/
Socket-Confetti_Client/ConfettiClient/Release/
Socket-Confetti_Server/ConfettiServer/Release/
Socket-Confetti_Client/Release/
Socket-Confetti_Server/Release/
Socket-Confetti_Client/Socket-Confetti/Release/
Socket-Confetti_Server/Socket-Confetti/Release/
Socket-Confetti_Server/Socket-Confetti.VC.VC.opendb
Socket-Confetti_Client/Socket-Confetti.VC.VC.opendb
Socket-Confetti_Server/ipch/CONFETTISERVER-65bb8398/CONFETTISERVER-d7f1f279.ipch
Socket-Confetti_Server/ipch/CONFETTISERVER-65bb8398/CONFETTISERVER-920f17ff.ipch
Socket-Confetti_Client/ipch/CONFETTICLIENT-51f55550/CONFETTICLIENT-70e41161.ipch
Socket-Confetti_Client/ipch/CONFETTICLIENT-51f55550/CONFETTICLIENT-2b0136e7.ipch
Socket-Confetti_Client/Socket-Confetti.VC.db
Socket-Confetti_Server/Socket-Confetti.VC.db
Socket-Confetti_Server/Socket-Confetti.VC.db
Socket-Confetti_Server/ConfettiServer/x64/
Socket-Confetti_Server/Socket-Confetti/x64/
Socket-Confetti_Server/x64/
Socket-Confetti_Server/ipch/CONFETTISERVER-65bb8398/CONFETTISERVER-55c15a17.ipch
Socket-Confetti_Server/Socket-Confetti.VC.db
Socket-Confetti_Client/Socket-Confetti.VC.db
