# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Socket-Confetti_Client/Debug/
Socket-Confetti_Server/Debug/
Socket-Confetti_Client/ConfettiClient/Debug/
Socket-Confetti_Client/Socket-Confetti/Debug/
Socket-Confetti_Server/ConfettiServer/Debug/

Socket-Confetti_Server/Socket-Confetti/Debug/